<font size="7">Data preprocessing</font>

<font size="5">Importing libraries</font>

In [99]:
import numpy as np
import matplotlib as plt
import pandas as pd

<font size="5">Imporing  the dataset</font>

In [100]:
Dataset=pd.read_csv('Data.csv')
Dataset.head(10)

   Country        Age       Salary Purchased
0   France  44.000000  72000.00000        No
1    Spain  27.000000  48000.00000       Yes
2  Germany  30.000000  54000.00000        No
3    Spain  38.000000  61000.00000        No
4  Germany  40.000000  63777.77778       Yes
5   France  35.000000  58000.00000       Yes
6    Spain  38.777778  52000.00000        No
7   France  48.000000  79000.00000       Yes
8  Germany  50.000000  83000.00000        No
9   France  37.000000  67000.00000       Yes

In [101]:
C=Dataset.iloc[:, :-1].values
print(C)

[['France' 44.0 72000.0]
 ['Spain' 27.0 48000.0]
 ['Germany' 30.0 54000.0]
 ['Spain' 38.0 61000.0]
 ['Germany' 40.0 63777.77778]
 ['France' 35.0 58000.0]
 ['Spain' 38.77777778 52000.0]
 ['France' 48.0 79000.0]
 ['Germany' 50.0 83000.0]
 ['France' 37.0 67000.0]]

In [102]:
C=Dataset.iloc[:, :-1]
print(C)

   Country        Age       Salary
0   France  44.000000  72000.00000
1    Spain  27.000000  48000.00000
2  Germany  30.000000  54000.00000
3    Spain  38.000000  61000.00000
4  Germany  40.000000  63777.77778
5   France  35.000000  58000.00000
6    Spain  38.777778  52000.00000
7   France  48.000000  79000.00000
8  Germany  50.000000  83000.00000
9   France  37.000000  67000.00000

In [103]:
C=Dataset.iloc[:-1, :]
print(C)

   Country        Age       Salary Purchased
0   France  44.000000  72000.00000        No
1    Spain  27.000000  48000.00000       Yes
2  Germany  30.000000  54000.00000        No
3    Spain  38.000000  61000.00000        No
4  Germany  40.000000  63777.77778       Yes
5   France  35.000000  58000.00000       Yes
6    Spain  38.777778  52000.00000        No
7   France  48.000000  79000.00000       Yes
8  Germany  50.000000  83000.00000        No

In [104]:
C=Dataset.iloc[:-1, :-1]
print(C)

   Country        Age       Salary
0   France  44.000000  72000.00000
1    Spain  27.000000  48000.00000
2  Germany  30.000000  54000.00000
3    Spain  38.000000  61000.00000
4  Germany  40.000000  63777.77778
5   France  35.000000  58000.00000
6    Spain  38.777778  52000.00000
7   France  48.000000  79000.00000
8  Germany  50.000000  83000.00000

In [105]:
C=Dataset.iloc[:0, :0]
print(C)

Empty DataFrame
Columns: []
Index: []

In [106]:
C=Dataset.iloc[:0, :1]
print(C)

Empty DataFrame
Columns: [Country]
Index: []

In [107]:
C=Dataset.iloc[:1, :0]
print(C)

Empty DataFrame
Columns: []
Index: [0]

In [108]:
C=Dataset.iloc[:1, :1]
print(C)

  Country
0  France

In [109]:
C=Dataset.iloc[:10, :4]
print(C)

   Country        Age       Salary Purchased
0   France  44.000000  72000.00000        No
1    Spain  27.000000  48000.00000       Yes
2  Germany  30.000000  54000.00000        No
3    Spain  38.000000  61000.00000        No
4  Germany  40.000000  63777.77778       Yes
5   France  35.000000  58000.00000       Yes
6    Spain  38.777778  52000.00000        No
7   France  48.000000  79000.00000       Yes
8  Germany  50.000000  83000.00000        No
9   France  37.000000  67000.00000       Yes

In [110]:
C=Dataset.iloc[:-2, :-2]
print(C)

   Country        Age
0   France  44.000000
1    Spain  27.000000
2  Germany  30.000000
3    Spain  38.000000
4  Germany  40.000000
5   France  35.000000
6    Spain  38.777778
7   France  48.000000

In [111]:
C=Dataset.iloc[:-3, :-2]
print(C)

   Country        Age
0   France  44.000000
1    Spain  27.000000
2  Germany  30.000000
3    Spain  38.000000
4  Germany  40.000000
5   France  35.000000
6    Spain  38.777778

In [112]:
C=Dataset.iloc[:-9, :-3]
print(C)

  Country
0  France

In [113]:
C=Dataset.iloc[1, :-3]
print(C)

Country    Spain
Name: 1, dtype: object

In [114]:
C=Dataset.iloc[1, 1]
print(C)

27.0

In [115]:
C=Dataset.iloc[1, 3]
print(C)

Yes

In [116]:
C=Dataset.iloc[9, 3]
print(C)

Yes

In [117]:
C=Dataset.iloc[:, 3].values
print(C)

['No' 'Yes' 'No' 'No' 'Yes' 'Yes' 'No' 'Yes' 'No' 'Yes']

In [118]:
Dataset=pd.read_csv('missing data.csv')
Dataset.head(10)

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

In [119]:
X=Dataset.iloc[:, :-1].values
print(X)

[['France' 44.0 72000.0]
 ['Spain' 27.0 48000.0]
 ['Germany' 30.0 54000.0]
 ['Spain' 38.0 61000.0]
 ['Germany' 40.0 nan]
 ['France' 35.0 58000.0]
 ['Spain' nan 52000.0]
 ['France' 48.0 79000.0]
 ['Germany' 50.0 83000.0]
 ['France' 37.0 67000.0]]

In [120]:
Y=Dataset.iloc[:, 3].values
print(Y)

['No' 'Yes' 'No' 'No' 'Yes' 'Yes' 'No' 'Yes' 'No' 'Yes']

In [121]:
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(missing_values= np.NAN, strategy= 'mean', fill_value=None, verbose=0, copy=True)
imputer = imputer.fit(X[:, 1:3])
X[:, 1:3] = imputer.transform(X[:, 1:3])

In [122]:
print(X)

[['France' 44.0 72000.0]
 ['Spain' 27.0 48000.0]
 ['Germany' 30.0 54000.0]
 ['Spain' 38.0 61000.0]
 ['Germany' 40.0 63777.77777777778]
 ['France' 35.0 58000.0]
 ['Spain' 38.77777777777778 52000.0]
 ['France' 48.0 79000.0]
 ['Germany' 50.0 83000.0]
 ['France' 37.0 67000.0]]

In [123]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
from sklearn.compose import ColumnTransformer

labelencoder_X = LabelEncoder()
X[:, 0] = labelencoder_X.fit_transform(X[:, 0])

ct = ColumnTransformer([("Purchased", OneHotEncoder(), [0])], remainder = 'passthrough')
X = np.array(ct.fit_transform(X),dtype=np.str)


labelencoder_Y = LabelEncoder()
Y = labelencoder_Y.fit_transform(Y)

In [124]:
print(Y)

[0 1 0 0 1 1 0 1 0 1]

In [125]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size=0.2, random_state=0)

In [126]:
from sklearn.preprocessing import StandardScaler
sc_X = StandardScaler()
x_train = sc_X.fit_transform(x_train)
x_test = sc_X.transform(x_test)